# NUMBER

Integer

In [1]:
1

1

Floating point number has a decimal attached to it

In [2]:
1.0

1.0

In [6]:
1+1

2

In [7]:
1*3

3

In [9]:
1/4.0

0.25

In [12]:
2**4

16

the multiple will run first

In [11]:
2 + 3*5 + 5

22

In [13]:
(2+3) * (5+5)

50

Mod function (%) it will returned the remain after division. This is the nice way to check if a number is even

In [14]:
4 % 2

0

In [15]:
5 % 2

1

# Variable

Name_of_variable = the value. the name of variable cannot start with number and special character

In [19]:
x = 3
y = 2

In [20]:
z = x+y

In [21]:
z

5

# Strings

There's two ways of creating a string, u can use a single quote and double quote

In [22]:
'single quote'

'single quote'

In [23]:
"this is a string"

'this is a string'

In [24]:
"I can't go"

"I can't go"

# Printing

In [25]:
x = 'hello'

In [28]:
x

'hello'

this is how u should officially display stuff when u trying to show the result on python:

In [27]:
print(x)

hello

In [29]:
num = 12
name = 'Sam'

In [33]:
print('My number is {one} and my name is {two}, more {one}' .format(one=num,two=name))

My number is 12 and my name is Sam, more 12

# Indexing strings

In [38]:
s = 'abcdefghijk'

S here is just a sequence of elements. And in this case each element is a letter and we can grab specific elements from that sequence of cahracters

In [39]:
s[0]

'a'

Indexing on Python starts from 0 (ZERO)

In [37]:
s[4]

'o'

slices notation to actually grab slices of the string:

In [40]:
s[0:]

'abcdefghijk'

grab everything beyond 0 index

In [41]:
s[:3]

'abc'

grab everything up to but not including index 3

In [42]:
s[3:6]

'def'

grab beyond index 3 until up to but not including index 6. which means grab all the way thorugh and then your last index is the index that you don't include.

# List

Lists are a sequence of elements in a square brackets separated by commas.

In [43]:
[1,2,3]

[1, 2, 3]

In [44]:
['a','b','c']

['a', 'b', 'c']

In [45]:
my_list = ['a','b','c']

In [46]:
my_list.append('d')

In [47]:
my_list

['a', 'b', 'c', 'd']

list is also a sequence just like a string is. meaning if we want to grab the firs item in the list I can use the same brechen notation that we did for a string pass in the index we want

In [48]:
my_list[0]

'a'

In [52]:
my_list[1:3]

['b', 'c']

we can also reassign positions using index notation:

In [50]:
my_list[0] = 'NEW'

In [51]:
my_list

['NEW', 'b', 'c', 'd']

you can nest list inside of each other

In [53]:
nest = [1,2,[3,4]]

In [54]:
nest

[1, 2, [3, 4]]

it's a list inside of a list

In [55]:
nest[2]

[3, 4]

In [56]:
nest[2][1]

4

In [57]:
nest = [1,2,3,[4,5,['target']]]

In [59]:
print(nest[3][2][0])

target