# Dictionaries

You can create a dictionary in Python by specifying curly brackets. Dictionaries behave as key values pairs just like a hash table instead of holding elements in a sequence, they hold elements through keys and then their actual values.

In [6]:
d = {'key1':'value', 'key2':'123'}

In [4]:
d['key1']

'value'

In [7]:
d['key2']

'123'

Dictionaries can take in basically any items as their values.

In [15]:
d = {'k1':[1, 2, 3]}

In [9]:
d['k1']

[1, 2, 3]

In [10]:
d['k1'][2]

3

In [13]:
my_list = d['k1']

In [14]:
my_list[0]

1

In [16]:
d = {'k1':{'innerkey':[1, 2, 3]}}

In [18]:
d['k1']

{'innerkey': [1, 2, 3]}

In [19]:
d['k1']['innerkey']

[1, 2, 3]

In [21]:
d['k1']['innerkey'][2]

3

Again: dictionaries do not retain any order, they're just key value pair mappings

# Booleans

Booleans in Python is just 'True' and 'False' with capitalized T and F

In [22]:
True

True

In [48]:
False

False

# LIST AND SET

List is just defined as a sequence of characters inside of square brackets separated by commas, and you can go ahead and grab items off that list using indexing.

In [24]:
my_list = [1,2,3]

In [25]:
my_list[0]

1

A tuple is a very similar except instead of square brackets, you use parentheses and you can again just grab items off of that tuple as if it were a list using index bracket notation

In [26]:
t = (1,2,3)

In [27]:
t[0]

1

In [29]:
my_list[0] = 'NEW'

In [30]:
my_list

['NEW', 2, 3]

In [31]:
t

(1, 2, 3)

In [32]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

This is because tuples are immutable and they do not support item assignment. Meaning, you can't mutate the items inside of a tuple. Which means you're going to want to use a tuple when you wanna make sure a user can't change the items

The main difference between list and tuple: a tuple is immutable and a list is mutable

set in Python: a collection of unique elements and it looks the same of curly brackets as a dictionary except it doesn't have the colons, it's just elements. Below this is a set.

In [33]:
{1,2,3}

{1, 2, 3}

In [34]:
{1,1,1,2,2,3,3,3,3}

{1, 2, 3}

in set, whatever how much you type a number, it will give you the same output because a set is defined by only unique elements. Meaning, if you try to put in multiples of the same elements it will reduce down to the unqiue elements.

In [35]:
set([1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,5,5,5,5,5,7,7,7,7,8,8,8,8,8,8,8])

{1, 2, 3, 5, 7, 8}

In [36]:
s = {1,2,3}

In [37]:
s.add(5)

In [43]:
s

{1, 2, 3, 5}

In [45]:
s.add(5)

In [47]:
s

{1, 2, 3, 5}

it still show one 5 because it's a set

In [39]:
p = {1,2,3,4,5}

In [40]:
p.add(10)

In [41]:
p

{1, 2, 3, 4, 5, 10}

# COMPARISON OPERATORS

Comparison operators allow you to compare two elements to each other. These are things such as greater than, less than, equal to etc.

In [49]:
1>2

False

In [50]:
1<2

True

In [51]:
1 >= 2

False

In [52]:
1 <= 2

True

In [53]:
1 == 1

True

In [54]:
1 == 2

False

In [56]:
1 = 1

SyntaxError: cannot assign to literal (<ipython-input-56-ecdac3dcabfd>, line 1)

Remember to use two equal signs. If you try to do something like this one, equals one you'll get an error because Python thinks you're trying to do a variable assigntment not an actual comparison operation.

If you want to check for any quality, you do:

In [57]:
1 != 3

True

In [59]:
'hi' != 'bye'

True

In [64]:
(1 < 2) and (2 < 3)

True

In [63]:
(1 < 2) and (2 > 3)

False

'and' operator must have two true statements to be 'True'

In [66]:
(1 < 2) or (1 > 2) or (1 != 1)

True

with 'or' just one of them has to be true

In [67]:
True and True

True

In [68]:
True or False

True

In [69]:
True and False

False

# if, elif, and if else statements

You can use these statements when you want to execute code if a condition is true

In [79]:
if 1<2:
    print('yep!')

yep!

MEANS:

In [80]:
if True:
    print('Perform Code')

Perform Code

There's a block of whitespace there^^ and that's really important in Python. Python doesn't use brackets in order to separate block of code execution statements, it uses whitespace instead. And if you just type enter here after a colon it will automatically do the indentation for you in Jupyter and most IDE that support Python will also do the same thing.

In [83]:
if True:
    x=2+2

In [84]:
x

4

In [88]:
if 1 == 2:
    print('First')
else:
    print('last')

last

Means: if the first condition is true excute the first code otherwise(or else) if none of thing above happens to be true (note how the else lines up with if statement that we know they're linked to each other) it will execute the last code

In [89]:
if 1 != 2:
    print('First')
else:
    print('last')

First

In [91]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('last')

Middle

Means: if this condition(first condition in if) is true execute the first block of code otherwise(or else) if the second condition true, execute the second block of code, else, if none of the conditions above me are true execute the block of code(in else statement). You can stack as many elif statements as you want so you can say another one here:

In [93]:
if 1 == 2:
    print('First')
elif 4 == 4:
    print('Second')
elif 3 == 3:
    print('Middle')
else:
    print('last')

Second

Even though the 3 == 3 statement is true, we're going to only execute the first instance of a condition being true.

REMEMBER: THESE STATEMENTS ARE GOING TO EXECUTE THE FIRST TRUE CONDITION AND THAT'S IT